apiVersion: apps/v1
kind: Deployment
metadata:
  name: thermo-deployment
  labels:
    app: thermo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thermo
  template:
    metadata:
      labels:
        app: thermo
    spec:
      containers:
      - name: thermo
        image: haixuantao/thermosensor:latest
        ports:
        - containerPort: 8000
        volumeMounts:
        - name: temperature-storage
          mountPath: /sys/bus/
      volumes:
        - name: temperature-storage
          hostPath:
            path: /sys/bus/
            type: DirectoryOrCreate